<BsAccordion as |acc|>
  {{#each this.model as |file|}}
    <acc.item as |aitem|>
      <aitem.title>
        <img alt="{{file.name}}" src="/rendered/{{file.name}}.png" width="50" height="50"/>&nbsp;&nbsp;{{file.name}}
      </aitem.title>
      <aitem.body>
        <div class="text-center play-container">
          <img alt="{{file.name}}" src="/rendered/{{file.name}}.png" width="100%"/>
          <BsButton @size="lg" @type="success" @outline={{true}} class="play-button"><FaIcon @icon="play" /></BsButton>
        </div>
      </aitem.body>
    </acc.item>
  {{/each}}
</BsAccordion>